azure-communication-callautomation==1.1.0
azure-communication-sms==1.0.1
azure-eventgrid==4.16.0
azure-identity==1.15.0
azure-mgmt-eventgrid==10.2.0
fastapi==0.108.0
openai==1.7.0
python-dotenv==1.0.0
pyyaml==6.0.1
twilio==8.11.0
uvicorn==0.25.0
