aiohttp==3.9.5  # Required for all Azure SDKs
aiosqlite==0.20.0
azure-ai-contentsafety==1.0.0
azure-ai-translation-text==1.0.0
azure-communication-callautomation==1.2.0
azure-communication-sms==1.0.1
azure-cosmos==4.7.0
azure-eventgrid==4.19.0
azure-functions==1.19.0
azure-identity==1.16.0  # Required for all Azure SDKs
azure-monitor-opentelemetry==1.4.2
azure-search-documents==11.6.0b4
azure-storage-queue==12.10.0
django-htmlmin==0.11.0
jinja2==3.1.4
json-repair==0.20.1
mistune==3.0.2
openai==1.35.2
opentelemetry-instrumentation-aiohttp-client==0.46b0
opentelemetry-instrumentation-httpx==0.46b0
opentelemetry-instrumentation-openai==0.21.4
opentelemetry-instrumentation-redis==0.46b0
opentelemetry-instrumentation-sqlite3==0.46b0
opentelemetry-semantic-conventions==0.46b0
phonenumbers==8.13.37  # Required for pydantic-extra-types
pydantic-extra-types==2.7.0  # Required for pydantic
pydantic-settings==2.2.1
pydantic[email]==2.7.4
python-dotenv==1.0.1
pytz==2024.1
pyyaml==6.0.1
redis==5.0.4
tenacity==8.2.3
tiktoken==0.7.0
twilio==9.1.0
typing-extensions==4.12.0
