allure-pytest==2.13.5  # Required for pytest
black[jupyter]==24.4.2
deepeval==0.21.36
deptry==0.16.1
pur==7.3.1
pytest-assume==2.4.3
pytest-asyncio==0.23.6  # Required for pytest
pytest-repeat==0.9.3  # Required for pytest
pytest-xdist[psutil]==3.6.1  # Required for pytest
pytest==8.2.0
