<a href="tel:{{ bot_phone_number }}" class="fixed bottom-0 right-0 m-4 px-6 py-4 rounded-full backdrop-blur shadow-md font-semibold bg-gradient-to-r from-pink-300/30 hover:from-pink-400/30 dark:from-pink-700/30 dark:hover:from-pink-600/30 to-violet-300/30 hover:to-violet-400/30 dark:to-violet-700/30 dark:hover:to-violet-600/30">☎️&nbsp;&nbsp;Call me</a>
