{% extends "templates/base.html.jinja" %}

{% block title %}
Historique des appels pour {{ phone_number }}
{% endblock %}

{% block content %}
<!-- History of calls -->
<div class="col-span-full space-y-4">
  <div class="p-4 space-y-4 rounded-md lg:ring-1 ring-neutral-200/60 dark:ring-neutral-700/60">
    <h2 class="text-lg">📞 Historique des appels pour {{ phone_number }}</h2>
    {% for call in calls %}
    <div>
      <a class="hover:underline" href="/report/{{ call.initiate.phone_number | quote_plus }}/{{ call.call_id | quote_plus }}">{{ call.created_at.astimezone(call.tz()).strftime('%d %b %Y, %H:%M') }}</a>
    </div>
    {% else %}
    <p class="text-neutral-600 dark:text-neutral-400">Aucun appel pour l'instant.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
