{% extends "templates/base.html.jinja" %}

{% block title %}
Déclaration de sinistre
{% endblock %}

{% block content %}
<!-- Top introduction -->
<header class="col-span-full my-8 px-4">
  <div class="mb-4 text-neutral-600 dark:text-neutral-400">
    <a class="hover:underline" href="/report/{{ call.initiate.phone_number | quote_plus }}">
      ⬅ Go back to your call history
    </a>
  </div>

  <h1>Bonjour {{ call.customer_file.caller_name | title }} 👋🏻</h1>
  <p class="text-2xl">Votre sinistre à propos de {{ call.synthesis.short | lower }} est en cours de traitement.</p>
</header>

<!-- Long synthesis -->
<div class="col-span-full mb-8">
  <div class="lg:rounded-md bg-gradient-to-r from-pink-300/30 dark:from-pink-700/30 to-violet-300/30 dark:to-violet-700/30 lg:ring-1 ring-transparent -mx-4 -my-2 px-8 py-6 space-y-4">
    <h2 class="text-lg">Synthèse</h2>
    {% if not call.synthesis.long %}
    <p class="text-neutral-600 dark:text-neutral-400">Aucune synthèse pour l'instant.</p>
    {% else %}
    <div class="space-y-2">
      {{ call.synthesis.long | markdown }}
    </div>
    {% endif %}
  </div>
</div>

<!-- Conversation -->
<div class="col-start-1 col-end-5 order-last lg:order-none">
  <div class="p-4 space-y-4 rounded-md lg:ring-1 ring-neutral-200/60 dark:ring-neutral-700/60">
    <h2 class="text-lg">💬 Conversation</h2>

    <!-- Agent and customer -->
    <div class="overflow-hidden space-y-6">
      {% for message in call.messages | sort(attribute='created_at') %}
        {% if not (message.action == 'talk' and not message.content) %}
        {% set name = bot_name if message.persona == 'assistant' else call.customer_file.caller_name %}
        <div class="flex flex-row">
          <div class="basis-6 relative self-stretch">
            <div class="absolute top-0 left-0 w-full h-full -z-10">
              <div class="h-screen mx-auto w-0.5 bg-neutral-200/60 dark:bg-neutral-800/60"></div>
            </div>
            <div class="py-1.5 bg-white dark:bg-neutral-900">
              {% if message.persona == 'assistant' %}
              <div
                class="rounded-full h-2 w-2 mx-auto bg-neutral-200/60 dark:bg-neutral-800/60 ring-1 ring-neutral-300 dark:ring-neutral-700"
              ></div>
              {% else %}
              <div
                class="rounded-full h-2 w-2 mx-auto bg-blue-200 dark:bg-blue-800 ring-1 ring-blue-400 dark:ring-blue-600"
              ></div>
              {% endif %}
            </div>
          </div>
          <div class="basis-full space-y-2 px-4 py-0.5">
            <div class="flex flex-row justify-between content-center text-xs">
              <div>
                {{ name | title }}
                <span class="text-neutral-600 dark:text-neutral-400">
                  {% if message.action == 'call' %}
                  a appelé
                  {% elif message.action == 'hangup' %}
                  a raccroché
                  {% elif message.action == 'sms' %}
                  a envoyé un SMS
                  {% elif message.action == 'talk' %}
                  a dit
                  {% endif %}
                </span>
              </div>
              <div class="text-neutral-600 dark:text-neutral-400">
                {{ message.created_at.astimezone(call.tz()).strftime('%d %b %Y, %H:%M') }}
              </div>
            </div>
            {% if message.content %}
            <p class="text-neutral-600 dark:text-neutral-400">{{ message.content }}</p>
            {% endif %}
          </div>
        </div>
        {% endif %}
      {% else %}
      <p class="text-neutral-600 dark:text-neutral-400">Aucun message pour l'instant.</p>
      {% endfor %}
    </div>

    <!-- TODO: Add a action for a new phone call -->
  </div>
</div>

<div class="col-start-5 col-end-7 space-y-4">
  <!-- Reminders -->
  <div class="rounded-md lg:ring-1 ring-neutral-200/60 dark:ring-neutral-700/60 p-4 space-y-4">
    <h2 class="text-lg">⏰ Rappels</h2>

    {% if not call.reminders %}
    <p class="text-neutral-600 dark:text-neutral-400">Aucun rappel pour l'instant.</p>
    {% else %}
    <div class="space-y-6">
      {% for reminder in call.reminders | sort(attribute='due_date_time') %}
      <div>
        <div class="text-xs">
          {{ reminder.owner | title }}&nbsp;<span class="text-neutral-600 dark:text-neutral-400">({{ reminder.due_date_time.strftime('%d %b %Y, %H:%M') }})</span>
        </div>
        <p class="text-neutral-600 dark:text-neutral-400">{{ reminder.title | capitalize }}</p>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <!-- Next actions -->
  <div class="rounded-md lg:ring-1 ring-neutral-200/60 dark:ring-neutral-700/60 p-4 space-y-4">
    <h2 class="text-lg">📥 Prochaine action</h2>

    {% if not call.next %}
    <p class="text-neutral-600 dark:text-neutral-400">Aucune prochaine action pour l'instant.</p>
    {% else %}
    <ul>
      {% for action in next_actions | sort %}
      {% if action.value == call.next.action.value %}
      <li>
        {{ action.value | replace("_", " " ) | capitalize }}
      </li>
      {% else %}
      <li class="text-xs text-neutral-600 dark:text-neutral-400">
        {{ action.value | replace("_", " " ) | capitalize }}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
    <p class="text-neutral-600 dark:text-neutral-400">
      {{ call.next.justification }}
    </p>
  </div>

  <!-- Details -->
  <div class="rounded-md lg:ring-1 ring-neutral-200/60 dark:ring-neutral-700/60">
    <h2 class="text-lg px-4 pt-4">📁 Détails</h2>
    <table class="table-auto w-full">
      <tbody>
        {%
          set details = [
            {
              'title': 'Date',
              'value': call.customer_file.incident_datetime.strftime('%d %b %Y, %H:%M') if call.customer_file.incident_datetime else 'N/A'
            },
            {
              'title': 'Localisation',
              'value': call.customer_file.incident_location or 'N/A'
            },
            {
              'title': 'Police',
              'value': call.customer_file.policy_number or 'N/A'
            },
            {
              'title': 'Contact',
              'value': ((call.customer_file.caller_email | lower) or 'N/A') ~ ', ' ~ (call.customer_file.caller_phone or 'N/A')
            },
            {
              'title': 'Téléphone utilisé',
              'value': call.initiate.phone_number or 'N/A'
            }
          ]
        %}
        <!-- Disable shadow to avoid overlapping with the table border -->
        {% for detail in details %}
        <tr {% if not loop.last %}class="border-b border-neutral-200/60 dark:border-neutral-700/60"{% endif %}>
          <td class="p-4 text-neutral-600 dark:text-neutral-400">{{ detail.title }}</td>
          <td class="p-4">{{ detail.value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
